.lottie-bg{
    /* position: absolute;
    top: 50px;
    height: 100%;*/
    /* width: 100vh; */
    background-size: cover;
    /* margin: auto; */
    justify-content: center;  /* Horizontally centers content */
    overflow: hidden;
    display: flex;
}
 
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 4px;
    background-color: black;
    padding-left: 20px;
}

.footer p {
    text-align: left;
    font-size: 10px;
    color: white;
    font-family: 'Inter', sans-serif;
}